<div class="list-group">

    <!-- TODO: filled by cmp-modules -->
    <!--<div class="nested-menu" *ngIf="false">-->

        <!--<a class="list-group-item" (click)="addExpandClass(configElement.title)">-->
            <!--<span><i class="fa fa-fw fa-plus"></i>&nbsp; {{configElement.title}}</span>-->
        <!--</a>-->

        <!--<div class="nested" [class.expand]="showMenu === configElement.title">-->
            <!--<ul class="submenu">-->
                <!--<li *ngFor="let subItem of configElement.items">-->
                    <!--<ng-container *ngTemplateOutlet="link; context: subItem"></ng-container>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</div>-->

    <div>
        <ng-container *ngTemplateOutlet="element; context: baseRoute"></ng-container>
    </div>

</div>

<ng-template #element
             let-path="path"
             let-data="data">
    <a [routerLink]="'/' + path"
       [routerLinkActive]="['router-link-active']"
       class="list-group-item">
        <i class="{{data?.icon}}"></i>&nbsp; {{ data?.title || path }}
    </a>
</ng-template>
