@import "~styles/library";

.list-group {

    & a {

        &.list-group-item {
            background: $sidebar-color-background;
            border: 0;
            border-radius: 0;
            color: $sidebar-color-link;
            text-decoration: none;
            white-space: nowrap;

            & .fa {
                margin-right: 10px;
            }
        }

        &:hover {
            background: darken($sidebar-color-background, 5%);
            color: $sidebar-color-link-hover;
        }

        &.router-link-active {
            background: darken($sidebar-color-background, 5%);
            color: $sidebar-color-link-hover;
        }
    }
}

.nested-menu {

    & .list-group-item {
        cursor: pointer;
    }

    & .nested {
        list-style-type: none;
    }

    & ul.submenu {
        display: none;
        height: 0;
    }

    & .expand {

        & ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;

            & li {

                & a {
                    color: $sidebar-color-link-hover;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
}
