$color-background-dark: #222;
$color-text-on-dark: #fff;

// header
$header-color-background: $color-background-dark;
$header-color-link: transparentize($color-text-on-dark, 0.5);
$header-color-link-hover: $color-text-on-dark;
$header-height: 56px;

// sidebar
$sidebar-color-background: $color-background-dark;
$sidebar-color-link: transparentize($color-text-on-dark, 0.5);
$sidebar-color-link-hover: $color-text-on-dark;
$sidebar-width-opened: 235px;
$sidebar-width-closed: 58px;
