@import "~styles/library";

:host {

    & .navbar {
        background-color: $header-color-background;

        & .navbar-brand {
            color: $header-color-link;
        }

        & .nav-item {

            & > a {
                color: $header-color-link;

                &:hover {
                    color: $header-color-link-hover;
                }
            }
        }
    }

    & .messages {
        width: 300px;

        & .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;

            &:last-child {
                border-bottom: none;
            }
        }

        & .media-body {

            & h5 {
                font-size: 13px;
                font-weight: 600;
            }

            & .small {
                margin: 0;
            }

            & .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
