@import "~styles/library";

.sidebar {
    @include border-radius(0);
    @include transition(all 0.2s ease-in-out);

    position: fixed;
    z-index: 1000;
    top: $header-height;
    left: $sidebar-width-closed;
    bottom: 0;
    width: $sidebar-width-opened;
    margin-left: -$sidebar-width-opened;
    padding: {
        left: $sidebar-width-opened;
        bottom: 40px;
    }
    border: none;
    background-color: $sidebar-color-background;
    overflow-y: auto;
    overflow-x: hidden;

    & .sidebar-dropdown {

        & *:focus {
            border-radius: none;
            border: none;
        }

        & .panel-title {
            font-size: 1rem;
            height: 50px;
            margin-bottom: 0;

            & a {
                color: $sidebar-color-link;
                text-decoration: none;
                font-weight: 400;
                background: $sidebar-color-background;

                & span {
                    position: relative;
                    display: block;
                    padding: 0.75rem 1.5rem;
                    padding-top: 1rem;
                }
            }

            & a {
                &:hover,
                &:focus {
                    color: $sidebar-color-link-hover;
                    outline: none;
                    outline-offset: -2px;
                }
            }
        }

        & .panel-title:hover {
            background: darken($sidebar-color-background, 5%);
        }

        & .panel-collapse {
            border-radious: 0;
            border: none;

            & .panel-body {

                & .list-group-item {
                    border-radius: 0;
                    background-color: $sidebar-color-background;
                    border: 0 solid transparent;

                    & a {
                        color: $sidebar-color-link;

                        &:hover {
                            color: $sidebar-color-link-hover;
                        }
                    }
                }

                & .list-group-item{

                    &:hover {
                        background: darken($sidebar-color-background, 5%);
                    }
                }
            }
        }
    }

    &:hover,
    &:active {
        left: $sidebar-width-opened;
        padding: {
            left: 0;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}
